/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * elza-text:
 *   - http://typekit.com/eulas/00000000000000007735f93a
 *   - http://typekit.com/eulas/00000000000000007735f939
 *   - http://typekit.com/eulas/00000000000000007735f937
 *   - http://typekit.com/eulas/00000000000000007735f93d
 *   - http://typekit.com/eulas/00000000000000007735f938
 *   - http://typekit.com/eulas/00000000000000007735f93b
 * quincy-cf:
 *   - http://typekit.com/eulas/00000000000000007735fcf3
 *   - http://typekit.com/eulas/00000000000000007735fcf9
 *   - http://typekit.com/eulas/00000000000000007735fcf4
 *   - http://typekit.com/eulas/00000000000000007735fcfa
 *   - http://typekit.com/eulas/00000000000000007735fcf7
 *   - http://typekit.com/eulas/00000000000000007736879f
 *   - http://typekit.com/eulas/00000000000000007736879b
 *
 * © 2009-2023 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-04-28 16:00:40 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=jls2jfh&ht=tk&f=49126.49127.49130.49132.49133.49134.49450.49452.49453.49454.49455.51210.51213&a=94551962&app=typekit&e=css");

@font-face {
font-family:"elza-text";
src:url("https://use.typekit.net/af/d053a5/00000000000000007735f93a/30/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/d053a5/00000000000000007735f93a/30/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/d053a5/00000000000000007735f93a/30/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"elza-text";
src:url("https://use.typekit.net/af/b462b0/00000000000000007735f939/30/l?subset_id=2&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/b462b0/00000000000000007735f939/30/d?subset_id=2&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/b462b0/00000000000000007735f939/30/a?subset_id=2&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"elza-text";
src:url("https://use.typekit.net/af/aa2b05/00000000000000007735f937/30/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/aa2b05/00000000000000007735f937/30/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/aa2b05/00000000000000007735f937/30/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"elza-text";
src:url("https://use.typekit.net/af/352dfa/00000000000000007735f93d/30/l?subset_id=2&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/352dfa/00000000000000007735f93d/30/d?subset_id=2&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/352dfa/00000000000000007735f93d/30/a?subset_id=2&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"elza-text";
src:url("https://use.typekit.net/af/9b4894/00000000000000007735f938/30/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9b4894/00000000000000007735f938/30/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9b4894/00000000000000007735f938/30/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"elza-text";
src:url("https://use.typekit.net/af/22869e/00000000000000007735f93b/30/l?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/22869e/00000000000000007735f93b/30/d?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/22869e/00000000000000007735f93b/30/a?primer=fff1a989570eb474b8c22c57cc7199e63bfc7e911b750165d0199218f0b7e7cc&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"quincy-cf";
src:url("https://use.typekit.net/af/2187af/00000000000000007735fcf3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/2187af/00000000000000007735fcf3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/2187af/00000000000000007735fcf3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"quincy-cf";
src:url("https://use.typekit.net/af/5de0ed/00000000000000007735fcf9/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/5de0ed/00000000000000007735fcf9/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/5de0ed/00000000000000007735fcf9/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:200;font-stretch:normal;
}

@font-face {
font-family:"quincy-cf";
src:url("https://use.typekit.net/af/a569bd/00000000000000007735fcf4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/a569bd/00000000000000007735fcf4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/a569bd/00000000000000007735fcf4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"quincy-cf";
src:url("https://use.typekit.net/af/e6e282/00000000000000007735fcfa/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/e6e282/00000000000000007735fcfa/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/e6e282/00000000000000007735fcfa/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"quincy-cf";
src:url("https://use.typekit.net/af/8aaf94/00000000000000007735fcf7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/8aaf94/00000000000000007735fcf7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/8aaf94/00000000000000007735fcf7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"quincy-cf";
src:url("https://use.typekit.net/af/afcd2a/00000000000000007736879f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/afcd2a/00000000000000007736879f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/afcd2a/00000000000000007736879f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"quincy-cf";
src:url("https://use.typekit.net/af/6f9f50/00000000000000007736879b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/6f9f50/00000000000000007736879b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/6f9f50/00000000000000007736879b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

.tk-elza-text { font-family: "elza-text",sans-serif; }
.tk-quincy-cf { font-family: "quincy-cf",serif; }
