/* Style the hero section container */
.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #f4feff;
}

/* Style the hero content */
.hero-content {
  flex: 1 1 50%;
  max-width: 500px;
}
.heroFooter {
  display: flex;
  gap: 4rem;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(127deg, #56e0e0 0%, #007299 100%);
  color: #fff; /* Change the icon color as needed */
  margin: 5px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.social-icon:hover {
  background-color: #0056b3; /* Change the hover background color as needed */
}

.company-name {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #106293;
}

.slogan {
  font-size: 40px;
  background: linear-gradient(99deg, #50d9db 0%, #007299 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.description {
  font-size: 20px;
  line-height: 2rem;
  margin-bottom: 30px;
}

.apply-button {
  background: linear-gradient(127deg, #56e0e0 0%, #007299 100%);
  box-shadow: 0px 10px 15px 0px rgba(1, 115, 153, 0.2);
  color: #fff !important;
  border: none;
  padding: 20px 30px;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the hero image */
.hero-image {
  width: 626px;
  height: 575px;
  overflow: hidden;
}

/* Responsive layout for smaller screens */
@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .hero-content {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .description {
    font-size: 14px;
  }
  .hero-image{
    display: none;
  }
  .heroFooter{
    flex-direction: column;
  }
}
