/* styles.css */
.custom-button {
  background: linear-gradient(127deg, #56e0e0 0%, #007299 100%);
  box-shadow: 0px 10px 15px 0px rgba(1, 115, 153, 0.2);
  color: #fff !important;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
