.header {
  padding: 20px 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.navbar-logo img {
  width: 150px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-menu a {
  color: #333;
  text-decoration: none;
  padding: 10px;
}

/* Styles for the dropdown menu */
.navbar-dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

.navbar-dropdown.active .dropdown-menu {
  display: block;
}

/* Styles for the responsive menu icon */
.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  height: 2px;
  width: 25px;
  margin-bottom: 5px;
  background-color: #333;
}
/* Add your other styles here */

/* Styles for the dropdown menu */
.navbar-dropdown {
  position: relative;
  padding-top: 0.5rem;
}
.navbar-dropdown span {
  color: #333;
}
.btn {
  background: linear-gradient(127deg, #56e0e0 0%, #007299 100%);
  box-shadow: 0px 10px 15px 0px rgba(1, 115, 153, 0.2);
  color: #fff !important;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1; /* Add z-index to place the dropdown above other elements */
}

/* Apply styles to the active class */
.navbar-menu.active .dropdown-menu {
  display: block;
}

/* Add hover styles for the dropdown items */
.dropdown-menu a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #f2f2f2;
}

/* Media query for mobile */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .navbar-menu {
    flex-direction: column;
  }

  .menu-icon {
    display: block;
  }

  .navbar-menu.active {
    display: block;
  }
}
